  <div *ngIf="customers.length > 0">
    <div class="d-flex justify-content-between">
      <div class="search">
        <form id="searchForm">
          <div class="input-group bg-light">
            <input
              id="searchInput"
              class="form-control bg-transparent border-0"
              type="text"
              placeholder="Buscar por nombre"
              name="filterName"
              [(ngModel)]="filterName"
            />
          </div>
        </form>
      </div>

      <div class="d-flex align-items-center">
        <h2 class="me-3 mb-0" style="white-space: nowrap">
          Filtrar por estado:
        </h2>
        <select
          class="form-select mb-0 me-2"
          id="estadoSelect"
          name="filterField"
          [(ngModel)]="filterField"
        >
          <option value="">Todos</option>
          <option value="Activado">Activado</option>
          <option value="Desactivado">Desactivado</option>
        </select>
      </div>

      <div>
        <button class="btn btn-primary" (click)="create()">
          Crear nuevo Cliente
        </button>
      </div>
    </div>

    <div class="mt-4">
      <table class="table table-sm text-center mt-4">
        <thead class="table">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Ruc</th>
            <th scope="col">Numero de Contacto</th>
            <th scope="col">Email</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let customer of customers
                | filterid : 'status' : filterField : filterName
                | paginate : { itemsPerPage: 17, currentPage: p }
            "
          >
            <td>{{ customer.id }}</td>
            <td>{{ customer.name }}</td>
            <td>{{ customer.ruc }}</td>
            <td>{{ customer.contactNumber }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.status }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm me-2"
                (click)="edit(customer.id)"
              >
                <fa-icon [icon]="faPen"></fa-icon>
              </button>
              <button
                class="btn btn-warning btn-sm me-2"
                (click)="status(customer.id)"
              >
                <fa-icon [icon]="faThumbTack"></fa-icon>
              </button>
              <button
                class="btn btn-danger btn-sm me-2"
                (click)="delete(customer.id)"
              >
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="d-flex justify-content-start">
        <pagination-controls
          (pageChange)="p = $event"
          previousLabel="Anterior"
          nextLabel="Siguiente"
        ></pagination-controls>
      </div>
    </div>
  </div>
  <div *ngIf="customers.length === 0">
    <div class="alert alert-info mt-4">
      No hay clientes disponibles.
      <label (click)="create()"><u>Click para crear</u></label>
    </div>
  </div>